# Database connection URL for Prisma #
DATABASE_URL=

## JWT secret key for signing and verifying JSON Web Tokens #
JWT_SECRET=

# Server configuration #
HOST=
PORT=

# Google OAuth2 credentials #
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/google-oauth-callback.html
ROOT_FOLDER_ID=

# Enable Swagger documentation #
ENABLE_SWAGGER=